@using GuildWars2.Web.Models.HomeVM

@model RegisterVM

@{ 
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    @using (Html.BeginForm("Register", "Home", new { returnUrl = ViewData["returnUrl"] }, FormMethod.Post, true, new { @class = "col s12" })) {
        @Html.AntiForgeryToken()
        <div class="row"></div>
        <div class="row">
        @if (!ViewData.ModelState.IsValid) {
            <div class="row">
                <div class="col offset-s1 s10">
                    <div class="card-panel red less-padding">
                        <span class="white-text">
                            @Html.ValidationSummary()
                        </span>
                    </div>
                </div>
            </div>
        }
        <div class="input-field col offset-s1 s10">
            <i class="material-icons prefix">person</i>
            @Html.TextBoxFor(model => model.Username, new { @id = "username_input" })
            <label for="username_input">@Html.DisplayNameFor(model => model.Username)</label>
        </div>
        <div class="input-field col offset-s1 s10">
            <i class="material-icons prefix">email</i>
            @Html.TextBoxFor(model => model.Email, new { @id = "email_input" })
            <label for="email_input">@Html.DisplayNameFor(model => model.Email)</label>
        </div>
        <div class="input-field col offset-s1 s10 no-pad-top">
            <i class="material-icons prefix">vpn_key</i>
            @Html.PasswordFor(model => model.Password, new { @id = "password_input" })
            <label for="password_input">@Html.DisplayNameFor(model => model.Password)</label>
        </div>
        <div class="input-field col offset-s1 s10 no-pad-top">
            <i class="material-icons prefix">vpn_key</i>
            @Html.PasswordFor(model => model.ConfirmPassword, new { @id = "confirm_password_input" })
            <label for="confirm_password_input">@Html.DisplayNameFor(model => model.ConfirmPassword)</label>
        </div>
        <div class="row"></div>
        <div class="input-field col offset-s1 s10">
            <button class="btn waves-effect waves-light btn-large full-width" type="submit" name="action">
                Register
                <i class="material-icons right">send</i>
            </button>
        </div>
    </div>
    }
</div>
<div class="row">
    <div class="col offset-s1 s10 divider"></div>
    <div class="input-field col s12 center-align">
        @Html.ActionLink("Already a User?", "Login", "Home", new { returnUrl = ViewData["returnUrl"] })
    </div>
</div>