@using GuildWars2.Web.Models

@model ApiKeyInfo

@using (Html.BeginForm(FormMethod.Post,
        new {
            data_ajax_url = Url.Action("AddKey", "Manage"),
            data_ajax = "true",
            data_ajax_mode = "replace",
            data_ajax_update = "#keys",
            data_ajax_method = "POST"
        })) {
    @Html.AntiForgeryToken()
    <div class="input-field col s12">
        @Html.TextBoxFor(model => model.ApiKey, new { @id = "api_key" })
        <label for="api_key">@Html.DisplayNameFor(model => model.ApiKey)</label>
    </div>
    <div class="input-field col s8">
        @Html.TextBoxFor(model => model.KeyName, new { @id = "api_key_name" })
        <label for="api_key_name">@Html.DisplayNameFor(model => model.KeyName)</label>
    </div>
    <div class="input-field col s4">
        <button class="btn waves-effect waves-light btn-large full-width no-padding" type="submit" name="action">
            <i class="material-icons">add</i>
        </button>
    </div>
}