@using GuildWars2.Web.Models.ManageVM

@model ChangePasswordVM

@using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post)) {
    @Html.AntiForgeryToken()
    <div class="row"></div>
    <div class="row">
        @if (!ViewData.ModelState.IsValid) {
            <div class="row">
                <div class="col s12 offset-l1 l10">
                    <div class="card-panel red less-padding">
                        <span class="white-text">
                            @Html.ValidationSummary()
                        </span>
                    </div>
                </div>
            </div>
        }
        <div class="input-field col s12">
            @Html.PasswordFor(model => model.OldPassword, new { @id = "old_password_input" })
            <label for="old_password_input">@Html.DisplayNameFor(model => model.OldPassword)</label>
        </div>
        <div class="input-field col s12 no-pad-top">
            @Html.PasswordFor(model => model.NewPassword, new { @id = "password_input" })
            <label for="password_input">@Html.DisplayNameFor(model => model.NewPassword)</label>
        </div>
        <div class="input-field col s12 no-pad-top">
            @Html.PasswordFor(model => model.ConfirmPassword, new { @id = "confirm_password_input" })
            <label for="confirm_password_input">@Html.DisplayNameFor(model => model.ConfirmPassword)</label>
        </div>
        <div class="row"></div>
        <div class="input-field col s12">
            <button class="btn waves-effect waves-light btn-large full-width" type="submit" name="action">
                Confirm
                <i class="material-icons right">send</i>
            </button>
        </div>
    </div>
}